// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
.banner {
  top: -10px;
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), image-url("pug.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}
.banner-text {
  padding-top: 30vh;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error {
  border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #b94a48;
}
.validation-summary-valid {
  display: none;
}
.navbar {
  top: -5px;
  left: -10px;
  position: fixed;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  background: rgba(0,0,0,0);
  width: 101vw;
}
.scrolled {
  background: rgba(0,0,0,0.8);
}
.nav li {
  position: relative;
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 0.7vw;
  margin-right: 0.7vw;
  text-transform: uppercase;
}
.main {
  margin-top: 50px;
}


