// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #fff;
}
.banner {
  top: -10px;
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), image-url("pug.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}
.banner-text {
  padding-top: 30vh;
}
.banner-text h1 {
  color: #fff;
  font-size: 7.4em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.banner-text h2 {
  color: #fff;
  font-size: 5.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.banner-text p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 80px;
}
.banner-text .btn {
  width: 20%;
  height: 40px;
}
.banner-text .btn-warning {
  background-color: #ffa400;
}
.navbar {
  top: -5px;
  left: -10px;
  position: fixed;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  background: rgba(0,0,0,0);
  width: 101vw;
}
.scrolled {
  background: rgba(0,0,0,0.8);
}
.nav li {
  position: relative;
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 0.7vw;
  margin-right: 0.7vw;
  text-transform: uppercase;
}
.main {
  margin-top: 50px;
}


